body {
  background: #19132f;
  color: white;
  margin: 0;
}

#splash {
  height: 90vh;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 48px;
  box-sizing: border-box;
  padding-bottom: 40px;
}
#splash .mast img {
  height: 180px;
}
#splash .mast h1 {
  font-family: "ivypresto-headline", serif;
  font-size: 80px;
  font-weight: 500;
  letter-spacing: -0.5px;
  margin: 0;
  margin-bottom: 8px;
}
#splash .mast h2 {
  font-family: "ivypresto-text", sans-serif;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: -0.6px;
  margin: 0;
  color: rgba(255, 255, 255, 0.4);
}

.input {
  background: rgba(255, 255, 255, 0.05);
  padding: 6px;
  border-radius: 48px;
  width: 480px;
  display: flex;
  box-shadow: -8px 36px 48px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}
.input input {
  border: none;
  background: none;
  flex: 1;
  color: white;
  padding: 4px 12px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.4px;
}
.input input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.input input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.input input:focus {
  outline: none;
}
.input button {
  background: #6355FF;
  border: none;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 450;
  letter-spacing: -0.3px;
  border-radius: 48px;
  padding: 10px 16px 10px 16px;
}

.sec {
  text-align: center;
  width: 100%;
  max-width: 1080px;
  margin: 120px auto;
  filter: drop-shadow(-4px 6px 12px rgba(0, 0, 0, 0.5));
}
.sec.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  padding: 40px 0 80px 0;
}
.sec.signup .input {
  margin-top: 40px;
}
.sec .header h1 {
  font-family: "ivypresto-headline", serif;
  font-size: 44px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 8px;
}
.sec .header h2 {
  font-family: "ivypresto-text", sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: -0.4px;
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
}
.sec .carousel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 48px;
  margin: 60px auto;
}
.sec .carousel .card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.sec .carousel .card .banner {
  width: 100%;
  aspect-ratio: 4/5;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  box-shadow: -8px 36px 48px rgba(0, 0, 0, 0.3);
}
.sec .carousel .card .expo {
  text-align: left;
}
.sec .carousel .card .expo h1 {
  font-family: "ivypresto-headline", serif;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.4px;
  margin: 0;
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.8);
}
.sec .carousel .card .expo p {
  font-family: "ivypresto-text", sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: -0.4px;
  margin: 0;
  color: rgba(255, 255, 255, 0.4);
}

.content {
  display: flex;
  width: 100%;
  margin: 80px auto;
  gap: 40px;
}
.content #linkedin {
  flex: 1;
  width: 500px;
  max-width: 45%;
  height: -moz-fit-content;
  height: fit-content;
}
.content .letter {
  flex: 1;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content .letter p {
  font-family: "ivypresto-text", sans-serif;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: -0.2px;
  width: 100%;
  text-align: left;
  margin: 0;
  color: rgba(255, 255, 255, 0.75);
}
.content .letter #signature {
  height: 100px;
  margin: 0;
  margin-top: 20px;
}

.footer {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
}
.footer p {
  font-family: "ivypresto-text", sans-serif;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: -0.2px;
  margin: 0;
  color: rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 800px) {
  #splash .mast {
    width: 90vw;
  }
  #splash .mast h1 {
    line-height: 80%;
    margin-bottom: 18px;
  }
  .sec {
    width: 80vw;
  }
  .sec .header h1 {
    line-height: 90%;
    margin-bottom: 18px;
  }
  .sec .carousel {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .sec .carousel .card {
    width: 100%;
  }
  .content {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .content #linkedin {
    width: 100vw;
    max-width: 100%;
  }
  .input {
    width: 80vw;
    flex-direction: column;
    border-radius: 24px;
    gap: 12px;
    padding: 14px 8px 8px 8px;
  }
  .input input {
    text-align: center;
  }
  .input button {
    padding: 12px 0;
  }
}/*# sourceMappingURL=styles.css.map */